{% macro lbPicture(images, isParallax, isReverse) %}

	{% set classes = [] %}

	{% if isParallax %}
        {% set parallaxVariant = 'parallax' %}
        {% set classes = classes|merge(['js-parallax']) %}
    {% endif %}

	{% for variant in images.variants|default([parallaxVariant]) %}
		{% set classes = classes|merge(['lb-picture--' ~ variant]) %}
	{% endfor %}
	{% if class %}
		{% set classes = classes|merge([class]) %}
	{% endif %}

	<picture class="lb-picture{{ classes|length ? ' ' ~ classes|join(' ') : '' }}">
        {% if isParallax %}<div class="lb-picture__wrapper" data-scroll data-scroll-speed=".8" data-scroll-delay="0.1">{% endif %}
            <source media="(min-width: 801px) and (max-width: 1050px)" data-srcset="{{images.large}}" class="lazyload">
            <source media="(min-width: 401px) and (max-width: 800px)" data-srcset="{{images.medium}}" class="lazyload">
            <source media="(max-width: 400px)" data-srcset="{{images.small}}" class="lazyload">
            <img data-src="{{images.original}}" class="lazyload"/>
        {% if isParallax %}</div>{% endif %}
	</picture>
{% endmacro %}
