{%- macro lbPicture(images, isParallax = false, position, reveal = false) -%}

    {%- set position = position|default('center') -%}

	{%- set classes = [] -%}

	{%- if isParallax -%}
        {% set parallaxVariant = 'parallax' %}
        {# {% set classes = classes|merge(['js-parallax-image']) %} #}
    {%- endif -%}

    {%- if reveal -%}
        {% set revealVariant = 'reveal' %}
    {%- endif -%}

	{%- for variant in images.variants|default([parallaxVariant, revealVariant]) -%}
        {% if variant %}
		    {% set classes = classes|merge(['lb-picture--' ~ variant]) %}
        {% endif %}
	{%- endfor -%}

    {%- set classes = classes|merge(['lb-picture--infobox-' ~ position]) -%}

	{%- if class -%}
		{% set classes = classes|merge([class]) %}
	{%- endif -%}

    {%- if isParallax or reveal -%}<div class="lb-picture-wrapper{{ reveal ? ' js-image-reveal' : '' }}{{ isParallax ? ' js-parallax-image' : '' }}">{%- endif -%}
	    <picture class="lb-picture{{ classes|length ? ' ' ~ classes|join(' ') : '' }}">
            <source media="(min-width: 801px) and (max-width: 1200px)" data-srcset="{{images.lg}}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            <source media="(min-width: 401px) and (max-width: 800px)" data-srcset="{{images.md}}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            <source media="(max-width: 400px)" data-srcset="{{images.sm}}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            <img data-src="{{images.original}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{ images.alt }}" class="lazyload"/>
	    </picture>
        {%- if reveal -%}<div class="lb-picture-overlay"></div>{%- endif -%}
    {%- if isParallax or reveal -%}</div>{%- endif -%}
{%- endmacro -%}
