<div class="lb-accordion__item{{ class ? ' ' ~ class : '' }}"{{ id ? ' id="' ~ id ~ '"' : '' }}>
	<div class="lb-accordion__header">
		<div class="lb-accordion__header__title">
			{% block accordion%}
                {% if icon %}
                    {% include '@PathViews/components/icon.twig' with {name: icon} %}
                {% endif %}
				{% if title is defined %}
					<h4 class="p">{{ title }}</h4>
				{% endif %}
			{% endblock %}
		</div>
		{% if actions is iterable %}
			{% for action in actions %}
				<div class="lb-accordion__header__action">
					{% include '@PathViews/components/button.twig' with action only %}
				</div>
			{% endfor %}
		{% endif %}
		<span class="lb-accordion__toggler">
			{% include '@PathViews/components/icon.twig' with {name: 'arrow-down'} %}
		</span>
	</div>
	<div class="lb-accordion__content">
		{% block accordionContent %}
			{% if content is iterable %}
                {% for item in content %}
                    {% if item.data %}
                        {# Links list #}
                        {% if item.type == 'links-list' %}
                            <div class="links-list">
                                {% for list in item.data %}
                                    <div class="links-list__item">
                                        <h6 class="links-list__label">{{ list.label }}</h6>
                                        {% for link in list.links %}
                                            {% include '@PathViews/components/button.twig' with link only %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        {# Infobox #}
                        {% elseif item.type == 'infobox' %}
                            {% include '@PathViews/components/infobox.twig' with item.data only %}
                        {# Form #}
                        {% elseif item.type == 'form' %}
                            <form action="{{ item.data.action }}" method="get" class="{{ item.data.class }}" {{ item.data.attributes ? ' ' ~ item.data.attributes|join(' ') : '' }}>
                                {% include '@PathViews/components/fields/input.twig' with item.data.input only %}
                            </form>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
				{{ content|raw }}
			{% endif %}
		{% endblock %}
	</div>
</div>
