{% set tag = url ? 'a' : 'button' %}
{% if inset %}
    {% set tag = 'div' %}
{% endif %}
{% set classes = [] %}
{% for variant in variants|default([]) %}
    {% set classes = classes|merge(['button-' ~ variant]) %}
{% endfor %}
{% if class %}
    {% set classes = classes|merge([class]) %}
{% endif %}
{% set classes = classes|join(' ') %}
{% apply spaceless %}
    <{{ tag -}}
        {{ tag == 'button' ? ' type="' ~ type|default('button') ~ '" ' : ' ' -}}
        class="button{{- classes ? ' ' ~ classes : '' -}}"
        {{- url ? ' href="' ~ url ~ '" target="' ~ target|default('_self') ~ '"' : '' -}}
        {{- attributes ? ' ' ~ attributes|join(' ') : '' -}}
        {{- id ? ' id="' ~ id ~ '"' : '' -}}
        {{- name ? ' name="' ~ name ~ '"' : '' -}}
        {{- value ? ' value="' ~ value ~ '"' : '' -}}
        {{- form ? ' form="' ~ form ~ '"' : '' -}}
        {{- animation ? ' data-animation="' ~ animation ~ '"' : '' -}}
        {{- tag == 'a' and title ? ' title="' ~ title ~ '"' : '' -}}>
        {% if iconStart %}
            {% include '@PathViews/components/icon.twig' with iconStart only %}
        {% endif %}
        {% if title %}
            <span class="button__label">
                {%- if 'quaternary' in variants or 'link' in variants -%}
                    {{- title -}}
                {%- else -%}
                    <span>{{ title }}</span>
                    <span aria-hidden="true">{{ title }}</span>
                {%- endif -%}
            </span>
        {% endif %}
        {% if iconEnd %}
            {% include '@PathViews/components/icon.twig' with iconEnd only %}
        {% endif %}
        {% if iconEnd is null and 'quaternary' in variants %}
            {% include '@PathViews/components/icon.twig' with {name: 'arrow-right'} only %}
        {% endif %}
    </{{ tag }}>
{% endapply %}
