{% set tag = url ? 'a' : 'button' %}
{% set classes = [] %}
{% for variant in variants|default([]) %}
  {% set classes = classes|merge(['button-' ~ variant]) %}
{% endfor %}
{% if class %}
  {% set classes = classes|merge([class]) %}
{% endif %}
{% set classes = classes|join(' ') %}

<{{ tag }}
  {{ tag == 'button' ? ' type="' ~ type|default('button') ~ '"' : '' }}
  class="button{{ classes ? ' ' ~ classes : '' }}"
  {{ url ? ' href="' ~ url ~ '" target="' ~ target|default('_self') ~ '"' : '' }}
  {{ attributes ? ' ' ~ attributes|join(' ') : '' }}
>
  {% if iconStart %}
    {% include '@PathViews/components/icon.twig' with iconStart only %}
  {% endif %}
  {% if title %}
    <span class="button__label">{{ title }}</span>
  {% endif %}
  {% if iconEnd %}
    {% include '@PathViews/components/icon.twig' with iconEnd only %}
  {% endif %}
</{{ tag }}>
