{% set classes = [] %}
{% for variant in variants|default([]) %}
  {% set classes = classes|merge(['card--' ~ variant]) %}
{% endfor %}
{% if class %}
  {% set classes = classes|merge([class]) %}
{% endif %}

{% set type_1 = ('type-1' in variants) ? true : false %}
{% set type_2_6 = ('type-2' in variants) or ('type-6' in variants) ? true : false %}
{% set type_8 = ('type-8' in variants) ? true : false %}

{% from '@PathViews/macro/lb-picture.twig' import lbPicture %}

<article class="card h-100{{ classes|length ? ' ' ~ classes|join(' ') : '' }}"{{ (type_8 and color) ? ' style="background-color: ' ~ color ~ ';"' : '' }}>
    <div class="row h-100{{ type_1 ? ' mobile-min-gutters' : '' }}{{ type_2_6 ? ' no-gutters' : '' }}">
        {% if images|length > 0 %}
            <div class="card-img-wrapper{{ type_1 ? ' col-6 col-md-12' : ' col-12' }}">
                <div class="card-img">
                    {{ lbPicture(images) }}
                    {% if type_2_6 %}
                        <div class="card-date">{{ date }}</div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="{{ type_1 ? 'col-6 col-md-12 ' : 'col-12 ' }}h-100">
            <div class="card-infobox h-100">
                {% include '@PathViews/components/infobox.twig' with infobox only %}
            </div>
        </div>
    </div>
</article>
