{% if geo_location %}
    {% if geo_location.country == 'Cile' and lang == 'en' %}
        {% set country = 'Chile' %}
    {% elseif geo_location.country == 'Corea del Sud' and lang == 'en' %}
        {% set country = 'South Korea' %}
    {% elseif geo_location.country == 'Giordania' and lang == 'en' %}
        {% set country = 'Jordan' %}
    {% elseif geo_location.country == 'Lituania' and lang == 'en' %}
        {% set country = 'Lithuania' %}
    {% elseif geo_location.country == 'Perù' and lang == 'en' %}
        {% set country = 'Peru' %}
    {% elseif geo_location.country == 'Repubblica Dominicana' and lang == 'en' %}
        {% set country = 'Dominican Republic' %}
    {% elseif geo_location.country == 'Portogallo' and lang == 'en' %}
        {% set country = 'Portugal' %}
    {% else %}
        {% set country = geo_location.country %}
    {% endif %}
{% endif %}

<div class="lb-template-distributor__map__infowindow">
    <div class="lb-template-distributor__map__infowindow__header">
        <h4 class="infobox__subtitle">{{ country }}</h4>
    </div>
    <div class="lb-template-distributor__map__infowindow__content">
        <div class="lb-template-distributor__map__infowindow__brands">
            {% for brand in brands %}
                {% include '@PathViews/components/button.twig' with {
                    title: brand.name,
                    type: 'button',
                    variants: ['link']
                } only %}
            {% endfor %}
        </div>
        <div class="infobox">
            <h3 class="infobox__subtitle">{{ title }}</h3>
            <p class="infobox__paragraph infobox__paragraph--small">
                {{ geo_location.address }}<br>
                {% if phone %}
                    <a href="tel:{{ phone }}">{{ phone }}</a><br>
                {% endif %}
                {% if email %}
                    <a href="mailto:{{ email }}">{{ email }}</a>
                {% endif %}
            </p>
            <div class="p infobox__paragraph js-infowindow-content">{{ content }}</div>
            {% include '@PathViews/components/button.twig' with read_more only %}
        </div>
        {% if links|length > 0 %}
            <div class="links-list">
                {% for item in links %}
                    <div class="links-list__item">
                        <h6 class="links-list__label">{{ item.label }}</h6>
                        {% for link in item.links %}
                            {% include '@PathViews/components/button.twig' with link only %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
