{% set filterType = filter_type|default('postDefault') %}

<div class="lb-filters{{ (containerized) ? '' : ' container' }} js-filters"
    {{ post_type ? ' data-post-type="' ~ post_type ~ '"' : '' }}
    {{ posts_per_page ? ' data-posts-per-page="' ~ posts_per_page ~ '"' : '' }}
    {{ filterType ? ' data-filter-type="' ~ filterType ~ '"' : '' }}
    data-lang="{{ lang }}"
>
    <div class="row">
        {% if items|length > 0 %}
            {% for item in items %}
                {% if item %}
                    <div class="lb-filters__item col-12 col-md-{{ (containerized) ? '3' : '2' }}">
                        {% include '@PathViews/components/fields/select.twig' with item only %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if base_cat %}
            <input type="hidden" id="{{ base_cat.id }}" class="lb-filters__base-cat" name="{{ base_cat.name }}" value="{{ base_cat.value }}"/>
        {% endif %}
        {% if search %}
            <div class="lb-filters__item col-12 col-md-4 offset-md-{{ (items|length >= 3) ? '2' : (items|length == 2) ? '4' : (items|length == 1) ? '6' :  (items|length == 0) ? '4' : '2' }}">
                <form action="{{ search.action }}" method="get" class="lb-filters__search-form">
                    {% include '@PathViews/components/fields/input.twig' with search only %}
                    {% if hidden %}
                        <input type="hidden" name="{{ hidden.name }}" value="{{ hidden.value }}"/>
                    {% endif %}
                </form>
            </div>
        {% endif %}
    </div>
</div>
