<div class="lb-filters{{ (containerized) ? '' : ' container' }} js-filters"{{ (post_type) ? ' data-post-type="' ~ post_type ~ '"' : '' }}{{ posts_per_page ? ' data-posts-per-page="' ~ posts_per_page ~ '"' : '' }}>
    <div class="row">
        {% if items|length > 0 %}
            {% for item in items %}
                <div class="lb-filters__item col-12 col-md-{{ (containerized) ? '3' : '2' }}">
                    {% include '@PathViews/components/fields/select.twig' with item only %}
                </div>
            {% endfor %}
        {% endif %}
        {% if search %}
            <div class="lb-filters__item col-12 col-md-4 offset-md-{{ (items|length >= 3) ? '2' : (items|length == 2) ? '4' : (items|length == 1) ? '6' :  (items|length == 0) ? '4' : '2' }}">
                <form action="" method="get" class="lb-filters__search-form">
{#                    {% if hidden %}#}
{#                        <input type="hidden" name="{{ hidden.name }}" value="{{ hidden.value }}"/>#}
{#                    {% endif %}#}

                    {% include '@PathViews/components/fields/input.twig' with search only %}
                </form>
            </div>
        {% endif %}
    </div>
</div>
