{% from '@PathViews/macro/lb-picture.twig' import lbPicture %}

{% set classes = [] %}
{% if container %}
    {% set variants = variants|merge(['containerized']) %}
{% endif %}
{% for variant in variants|default([]) %}
	{% set classes = classes|merge(['hero--' ~ variant]) %}
{% endfor %}
{% if class %}
	{% set classes = classes|merge([class]) %}
{% endif %}

{% if infobox %}
	{% set _infoboxPosX = (infoboxPosX == 'left') ? '' : (infoboxPosX == 'center' ? ' offset-md-3 text-center' : ' offset-md-7') %}
	{% set _infoboxPosY = (infoboxPosY == 'center') ? '' : (infoboxPosY == 'bottom' ? ' hero--infobox-' ~ infoboxPosY : '') %}
{% endif %}

<section class="hero{{ container ? ' container' : '' }}{{ classes|length ? ' ' ~ classes|join(' ') : '' }}{{ _infoboxPosY }} js-hero">
	{% if infobox %}
		<div class="hero__infobox container">
			{# <div class="container"> #}
				<div class="h-100 col-12 col-md-{{ infoboxPosX == 'center' ? '6' : '5' }}{{ _infoboxPosX }}">
					{% include '@PathViews/components/infobox.twig' with infobox only %}
				</div>
			{# </div> #}
		</div>
	{% endif %}

	<div class="hero__img{{ container ? ' container' : '' }}">
		{{ lbPicture(images, true, infoboxPosX) }}
	</div>
</section>
