{% set classes = [] %}
{% for variant in variants|default([]) %}
  {% set classes = classes|merge(['infobox--' ~ variant]) %}
{% endfor %}
{% if textAlign %}
  {% set classes = classes|default([])|merge(['text-' ~ textAlign]) %}
{% endif %}
{% if container %}
  {% set classes = classes|default([])|merge(['container']) %}
{% endif %}
{% if class %}
  {% set classes = classes|merge([class]) %}
{% endif %}

<div class="infobox{{ classes|length ? ' ' ~ classes|join(' ') : '' }}">
    {% if image or tagline or title or subtitle or paragraph %}
        <div class="infobox__text-wrap">
            <div class="js-infobox-text">
                {% if image %}
                    <img src="{{ image }}">
                {% endif %}
                {% if date %}
                    <p class="infobox__date">{{ date }}</p>
                {% endif %}
                {% if tagline %}
                    <h6 class="infobox__tagline">{{ tagline }}</h6>
                {% endif %}
                {% if title %}
                    <h2 class="infobox__title">{{ title }}</h2>
                {% endif %}
                {% if subtitle %}
                    <h4 class="infobox__subtitle">{{ subtitle }}</h4>
                {% endif %}
                {% if scope %}
                    <p class="infobox__scope">{{ scope|raw }}</p>
                {% endif %}
                {% if items is iterable %}
                    {% include '@PathViews/components/list-arrow.twig' with {items: items} only %}
                {% endif %}
                {% if paragraph %}
                    <p class="infobox__paragraph">{{ paragraph|raw }}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
	{% if cta %}
		<div class="infobox__cta">
            {% include '@PathViews/components/button.twig' with cta only %}
		</div>
	{% endif %}
</div>
