{% set classes = [] %}
{% for variant in variants|default([]) %}
	{% set classes = classes|merge(['lb-offset-nav--' ~ variant]) %}
{% endfor %}
{% if class %}
	{% set classes = classes|merge([class]) %}
{% endif %}

<div id="{{ id }}" class="lb-offset-nav{{ classes|length ? ' ' ~ classes|join(' ') : '' }}" {{ noClose ? ' data-no-close' : '' }} {{ 'popup' in variants ? ' data-offset-nav-popup' : '' }} data-lenis-prevent>
	<div class="lb-offset-nav__dialog lb-offset-nav__dialog-{{ size|default('small') }}">
        {% if title or not noClose %}
            <div class="lb-offset-nav__header">
                {% if not noClose %}
                    <div class="lb-offset-nav__close js-close-offset-nav">
                        {% include '@PathViews/components/icon.twig' with { name: 'close-circle' } only %}
                    </div>
                {% endif %}
                <div class="lb-offset-nav__header__title">
                    <span>{{ title ? title : '' }}</span>
                </div>
            </div>
        {% endif %}
		<div class="lb-offset-nav__content">
            {% block offsetNavContent %}{% endblock %}
        </div>
    </div>
</div>
