<div class="lb-page-intro container text-center">
    <div class="lb-post-content">
        <div class="infobox">
            {% if tagline %}
                <p class="infobox__tagline">{{ tagline }}</p>
            {% endif %}
            {% if title %}
                <h1 class="infobox__subtitle h3{{ not description ? ' mb-0' : '' }}">{{ title }}</h1>
            {% endif %}
            {% if description %}
                {# <p class="infobox__paragraph">{{ fn('nl2br', description) }}</p> #}
                <p class="infobox__paragraph">{{ description }}</p>
            {% endif %}
        </div>
    </div>
</div>
