{% set classes = [] %}
{% for variant in variants|default([]) %}
	{% set classes = classes|merge(['lb-tabs--' ~ variant]) %}
{% endfor %}
{% if class %}
	{% set classes = classes|merge([class]) %}
{% endif %}

<div class="lb-tabs{{ classes|length ? ' ' ~ classes|join(' ') : '' }} js-tabs">
    <div class="lb-tabs__wrap">
        <nav class="lb-tabs__nav">
            {% for tab in tabs|default([]) %}
                <div class="lb-tabs__tab{{ loop.index == 1 ? ' is-active' : '' }}" data-target="{{ tab.id }}">
                    {{ tab.head.label }}
                    {{ (tab.head.count) ? '(' ~ tab.head.count ~ ')' : '' }}
                </div>
            {% endfor %}
        </nav>
        <div class="lb-tabs__content">
            {% for tab in tabs|default([]) %}
                <div id="{{ tab.id }}" class="lb-tabs__pane{{ loop.index == 1 ? ' is-active' : '' }}">
                    {% if tab.head.count > 0 %}
                        {% for item in tab.entries %}
                            {% set component = '@PathViews/components/' ~ item.type ~ '.twig' %}
                            {% include component with item.data only %}
                        {% endfor %}
                    {% else %}
                        <div class="container">
                            <div class="lb-no-results">
                                {% include '@PathViews/components/infobox.twig' with no_results only %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
