{% set classes = [] %}
{% for variant in variants|default([]) %}
	{% set classes = classes|merge(['lb-video--' ~ variant]) %}
{% endfor %}
{% if class %}
	{% set classes = classes|merge([class]) %}
{% endif %}

<section class="lb-video container{{ classes|length ? ' ' ~ classes|join(' ') : '' }} js-video" {{ attributes ? ' ' ~ attributes|join(' ') : '' }}>
	{% if provider == 'html5' %}
		<video playsinline data-autoplay muted loop class="lb-video__native-video lazyload" preload="none">
			<source src="{{ video_id.url }}" type="{{video_id.mime_type}}">
		</video>
	{% else %}
		<div class="lb-video__player" data-video data-plyr-provider="{{ provider }}" data-plyr-embed-id="{{ video_id }}"></div>
	{% endif %}
</section>
