{% set dataVariants = [] %}
{% for variant in variants|default([]) %}
    {% set dataVariants = dataVariants|merge(['data-variant="' ~ variant ~ '"']) %}
{% endfor %}

<select
    name="{{ id }}" id="{{ id }}"
    class="js-custom-select"
    {{ multiple ? ' multiple="multiple"' : '' }}
    {{ disabled ? ' disabled="disabled"' : '' }}
    {{ required ? ' required="required"' : '' }}
    {{ attributes|length > 0 ? ' ' ~ attributes|join(' ') : '' }}
    {{ dataVariants|length ? ' ' ~ dataVariants|join(' ') : '' }}
    {{ label ? ' data-label="' ~ label ~ '"' : '' }}
    {{ confirmBtnLabel ? ' data-btn-confirm="' ~ confirmBtnLabel ~ '"' : '' }}
>
    <option{{ placeholder ? '' : ' label="placeholder"' }} value>{{ placeholder }}</option>
    {% for option in options|default([]) %}
        <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' : '' }}{{ option.icon ? ' data-option-icon="' ~ option.icon ~ '"' : '' }}>{{ option.label }}</option>
    {% endfor %}
</select>
