<footer data-scroll-section>
    {% if prefooterConfig.show %}
        <div class="lb-prefooter{{ prefooterConfig.line ? ' lb-prefooter--line' : '' }}">
            <div class="container">
                <div class="lb-prefooter__desktop">
                    <div class="row">
                        <div class="lb-prefooter__box col-12 col-md-4">
                            {% include '@PathViews/components/infobox.twig' with data.prefooter.block_1 only %}
                        </div>
                        <div class="lb-prefooter__box col-12 col-md-4">
                            {% include '@PathViews/components/infobox.twig' with data.prefooter.block_2 only %}
                            {% if data.prefooter.block_2.form %}
                                <form action="{{ data.prefooter.block_2.form.action }}" method="get" class="{{ data.prefooter.block_2.form.class }}" {{ data.prefooter.block_2.form.attributes ? ' ' ~ data.prefooter.block_2.form.attributes|join(' ') : '' }}>
                                    {% include '@PathViews/components/fields/input.twig' with data.prefooter.block_2.form.input only %}
                                </form>
                            {% endif %}
                        </div>
                        <div class="lb-prefooter__box col-12 col-md-4">
                            {% include '@PathViews/components/infobox.twig' with data.prefooter.block_3 only %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="lb-prefooter__mobile">
                {% include '@PathViews/components/accordion.twig' with {
                    items: [
                        {
                            title: data.prefooter.block_1.subtitle,
                            content: [
                                {
                                    type: 'infobox',
                                    data: data.prefooter.block_1|merge({subtitle: ''}),
                                },
                            ],
                        },
                        {
                            title: data.prefooter.block_2.subtitle,
                            content: [
                                {
                                    type: 'infobox',
                                    data: data.prefooter.block_2|merge({subtitle: ''}),
                                },
                            ],
                        },
                        {
                            title: data.prefooter.block_3.subtitle,
                            content: [
                                {
                                    type: 'infobox',
                                    data: data.prefooter.block_3|merge({subtitle: ''}),
                                },
                            ],
                        },
                    ],
                } only %}
            </div>
        </div>
    {% endif %}
    <div class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="footer__top__shield lb-shield">
                    {% include '@PathViews/components/icon.twig' with {name: 'logo-shield'} only %}
                </div>
                <div class="footer__top__logo lb-logo">
                    {% include '@PathViews/components/icon.twig' with {name: 'logo'} only %}
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__bottom__item">
                    <h6 class="infobox__tagline">{{ data.footer.discover.title }}</h6>
                    <ul class="footer__menu">
                        {% for item in data.footer.discover.items %}
                            <li class="footer__menu__item">
                                {% include '@PathViews/components/button.twig' with item only %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="footer__bottom__item">
                    <h6 class="infobox__tagline">{{ data.footer.support.title }}</h6>
                    <ul class="footer__menu">
                        {% for item in data.footer.support.items %}
                            <li class="footer__menu__item">
                                {% include '@PathViews/components/button.twig' with item only %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="footer__bottom__item">
                    <h6 class="infobox__tagline">{{ data.footer.search.title }}</h6>
                    {% if data.footer.search.items %}
                        <ul class="footer__menu">
                            {% for item in data.footer.search.items %}
                                <li class="footer__menu__item">
                                    {% include '@PathViews/components/button.twig' with item only %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if data.footer.search.form %}
                        <form action="{{ data.footer.search.form.action }}" method="get">
                            {% include '@PathViews/components/fields/input.twig' with data.footer.search.form.input only %}
                        </form>
                    {% endif %}
                </div>
                <div class="footer__bottom__item">
                    <h6 class="infobox__tagline">{{ data.footer.newsletter.title }}</h6>
                    <p class="infobox__paragraph">{{ data.footer.newsletter.text }}</p>
                    {% include '@PathViews/components/button.twig' with data.footer.newsletter.cta only %}
                </div>
                <div class="footer__bottom__item">
                    <h6 class="infobox__tagline">{{ data.footer.social.title }}</h6>
                    <ul class="footer__menu-icon">
                        {% for item in data.footer.social.items %}
                            <li class="footer__menu-icon__item">
                                <a href="{{ item.url }}" target="_blank">
                                    {% include '@PathViews/components/icon.twig' with {name: item.icon} only %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
