{% set classes = [] %}
{% for variant in variants|default([]) %}
	{% set classes = classes|merge(['lb-header--' ~ variant]) %}
{% endfor %}
{% if class %}
	{% set classes = classes|merge([class]) %}
{% endif %}
<header class="lb-header lb-header js-header js-menu {{classes|length ? ' ' ~ classes|join(' ') : '' }}">
    {% if header.pre.text %}
        <div class="lb-header__pre">
            <p>{{ header.pre.text ? header.pre.text : '' }}</p>
        </div>
    {% endif %}
    <div class="lb-header__top container">
        <div class="lb-header__top__shield lb-shield">
            <a href="{{ fn('home_url') }}">
                {% include '@PathViews/components/icon.twig' with {name: 'logo-shield'} only %}
            </a>
        </div>
        <div class="lb-header__top__logo lb-logo">
            <a href="{{ fn('home_url') }}">
                {% include '@PathViews/components/icon.twig' with {name: 'logo'} only %}
            </a>
        </div>
        <div class="lb-header__top__icons">
            {% if header.language_selector %}
                <div class="lb-header__top__icons__item lb-header__top__icons__item--lang lb-header__top__icons__item--mobile-hide js-open-offset-nav" data-target-offset-nav="lb-offsetnav-multicountry">
                    {# {% do action('wpml_add_language_selector') %} #}
                    {# {{ fn('do_shortcode', '[wpml_language_selector_widget]') }} #}
                    {{ header.language_selector.label }}
                    {% include '@PathViews/components/icon.twig' with {name: 'earth'} only %}
                </div>
            {% endif %}
            {% if header.header_links.items %}
                {% for link in header.header_links.items %}
                    <div class="lb-header__top__icons__item{{ link.mobile_hide ? ' lb-header__top__icons__item--mobile-hide' : '' }}{{ link.desktop_hide ? ' lb-header__top__icons__item--desktop-hide' : '' }}">
                        <{{ link.href ? 'a' : 'span' }} {{ link.href ? 'href="' ~ link.href ~ '"' : '' }}{{ link.class ? ' class="' ~ link.class ~ '"' : '' }}{{ link.attributes ? ' ' ~ link.attributes|join(' ') : '' }} style="display: flex;">
                            {% include '@PathViews/components/icon.twig' with link.icon only %}
                        </{{ link.href ? 'a' : 'span' }}>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="lb-header__top__icons__item lb-header__top__icons__item--search lb-header__top__icons__item--mobile-hide">
                <div class="lb-open-search">
                    {% include '@PathViews/components/icon.twig' with {name: 'icon-search'} only %}
                </div>
                {{ fn('get_search_form') }}
            </div>
            <!-- Btn Menu Mobile -->
            <div class="lb-header__top__icons__item lb-header__top__icons__item--btn-menu">
                <div class="lb-header__hamburger"><div class="lb-header__hamburger__wrap"><span></span><span></span></div><svg><use xlink:href="#menu-path"></use></svg><svg><use xlink:href="#menu-path"></use></svg></div>
            </div>
        </div>
    </div>
	<div class="lb-header__bottom container">
        <!-- Menu Desktop -->
		<div class="lb-header__wrapper lb-header__wrapper--desktop">
            {% if header.menu_desktop %}
                {% include '@PathViews/layout/menu-desktop.twig' with header.menu_desktop only %}
            {% endif %}
		</div>
        <!-- Menu Mobile -->
        <div class="lb-header__wrapper lb-header__wrapper--mobile">
            {{ fn('get_search_form', {buttonVariantNext: null}) }}
        </div>
        {% if header.menu_mobile %}
		    {% include "@PathViews/layout/menu-mobile.twig" with header.menu_mobile only %}
        {% endif %}
	</div>
</header>