{% extends '@PathViews/templates/_default.twig' %}

{% set bodyClass = 'archive-lb-beauty-specialist' %}

{% block main %}

    {# Yoast SEO Breadcrumb #}
    {% if fn('function_exists', 'yoast_breadcrumb') %}
        {{ fn('yoast_breadcrumb', '<div id="lb-breadcrumbs" class="lb-breadcrumbs"><div class="container">', '</div></div>') }}
    {% endif %}

    {{ content|raw }}
    {% include '@PathViews/components/separator.twig' with {variants: ['small']} only %}

    <div class="container" id="lb-form-container" data-scroll-to-offset="50">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <form action="{{ form_action }}" method="get" class="archive-lb-beauty-specialist__search js-geolocation" data-geolocation-parameter="region">
                    <div class="caffeina-base-loader js-geolocation-loader"></div>
                    {% include '@PathViews/components/fields/input.twig' with search only %}
                    <div class="lb-geolocation js-geolocation-trigger-element">
                        {% include '@PathViews/components/icon.twig' with {name: 'geolocation'} %}
                    </div>
                </form>
                {% if num_posts is not null and num_posts >= 0 %}
                    <div class="lb-posts-count">{{ num_posts_label }} <span>{{ num_posts }}</span></div>
                {% endif %}
                {% if items != null and num_posts > 0 %}
                    <div class="archive-lb-beauty-specialist__list">
                        {% for dates in items %}
                            <div class="archive-lb-beauty-specialist__list-block">
                                <div class="archive-lb-beauty-specialist__list__date">
                                    {% include '@PathViews/components/icon.twig' with {name: 'calendar'} %}
                                    <span>{{ dates.date }}</span>
                                </div>
                                {% for item in dates.items %}
                                    <div class="archive-lb-beauty-specialist__list__item">
                                        {% include '@PathViews/components/card.twig' with {
                                            infobox: {
                                                subtitle: item.store,
                                                paragraph: item.address ~ '<br>' ~ item.phone,
                                                cta: {
                                                    url: '#',
                                                    target: '_blank',
                                                    title: card_link_label,
                                                    class: 'js-open-map-app-link',
                                                    attributes: ['data-lat="'~ item.geo_location.lat ~'"', 'data-lng="'~ item.geo_location.lng ~'"'],
                                                    variants: ['quaternary']
                                                }
                                            },
                                            type: 'type-2'
                                        } only %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% if num_posts is not null and num_posts == 0 %}
                <div class="col-12">
                    <div class="lb-no-results">
                        <div class="infobox__title h2">{{ no_results.title }}</div>
                        <p class="infobox__paragraph">{{ no_results.text }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
