{% extends '@PathViews/templates/_default.twig' %}

{% set bodyClass = 'single-lb-job' %}

{% block main %}

    {# Yoast SEO Breadcrumb #}
    {% if fn('function_exists', 'yoast_breadcrumb') %}
        {{ fn('yoast_breadcrumb', '<div id="lb-breadcrumbs" class="lb-breadcrumbs"><div class="container">', '</div></div>') }}
    {% endif %}

    {# Info #}
    <hr class="lb-separator lb-separator--small" data-variant="small">
    <div class="container text-center">
        <div class="infobox">
            {% if title %}
                <h1 class="infobox__subtitle h3">{{ title }}</h1>
            {% endif %}
        </div>
    </div>
    <hr class="lb-separator lb-separator--medium" data-variant="medium">

    <div class="single-lb-job__info container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <div class="infobox">
                    {% for item in info %}
                        {% if item.value %}
                            <p class="infobox__scope">
                                <span class="infobox__scope__label">{{ item.label }}</span>
                                <span class="infobox__scope__value">{{ item.value }}</span>
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr class="lb-separator lb-separator--medium" data-variant="medium">

    {# Company #}
    <div class="single-lb-job__company container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <h6>{{ company.title }}</h6>
                <p class="single-lb-job__section-content">{{ company.content }}</p>
                <hr class="lb-separator lb-separator--big lb-separator--line" data-variant="big">
            </div>
        </div>
    </div>

    {# Content #}
    <div class="single-lb-job__content container">
        <div class="row">
            <div class="lb-post-elements-formatted lb-post-elements-formatted--small col-12 col-lg-8 offset-lg-2">
                <h6>{{ requirements.title }}</h6>
                {{ requirements.content|raw }}
            </div>
        </div>
    </div>

    {# Form #}
    <div class="single-lb-job__form container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <hr class="lb-separator lb-separator--big lb-separator--line" data-variant="big">
                <h4 class="infobox__subtitle text-center">{{ application.title }}</h4>
                <p class="single-lb-job__section-content">{{ application.content }}</p>
                <div class="lb-form">
                    {{ fn('do_shortcode', application.shortcode) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
