{% embed '@PathViews/components/offset-nav.twig' %}
	{% block offsetNavContent %}

        {% for item in data %}

            {% if item.type == 'faq' %}

                {% include '@PathViews/components/accordion.twig' with {items: item.items} only %}

            {% else %}
                
                <div class="lb-offset-nav__content__item lb-offset-nav__content__item--{{ item.type }}">
                    {% if item.type == 'text' %}
                        {% if item.data.title %}
                            <h4 class="infobox__subtitle">{{ item.data.title }}</h4>
                        {% endif %}
                        {% if item.data.subtitle %}
                            <p class="infobox__paragraph p p-big">{{ item.data.subtitle }}</p>
                        {% endif %}
                        {% if item.data.text %}
                            <p class="infobox__paragraph p-small">{{ item.data.text }}</p>
                        {% endif %}
                    {% elseif item.type == 'table' %}
                        {% if item.data.title %}
                            <h4 class="infobox__subtitle">{{ item.data.title }}</h4>
                        {% endif %}
                        {% if item.data.subtitle %}
                            <p class="infobox__paragraph p p-big">{{ item.data.subtitle }}</p>
                        {% endif %}
                        {% if item.data.text %}
                            <p class="infobox__paragraph p-small">{{ item.data.text }}</p>
                        {% endif %}
                        {% if item.data.table %}
                            <div class="lb-offset-nav__table">
                                {% for tableItem in item.data.table %}
                                    <div class="row">
                                        <div class="col-10 col-md-11">
                                            <p class="p-small">{{ tableItem.title }}</p>
                                        </div>
                                        <div class="col-2 col-md-1">
                                            <p class="p-small">{{ tableItem.value }}%</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>

            {% endif %}
        {% endfor %}

	{% endblock %}
{% endembed %}
