{# {% set criticalCss = fn(['ThemeSetup', 'revision_files'], 'critical.css') %} #}
{% set criticalCssProd = '/critical.css' %}
{% set mainCss = fn(['ThemeSetup', 'revision_files'], 'main.css') %}
{# {% set criticalJs = '/critical.js' %} #}
{# {% set criticalJsModern = fn(['ThemeSetup', 'revision_files'], 'js/critical.modern.js') %} #}
{% set mainJs = fn(['ThemeSetup', 'revision_files'], 'main.js') %}
{# {% set mainJsModern = fn(['ThemeSetup', 'revision_files'], 'js/main.modern.js') %} #}
{# {% set lazysizesModern = fn(['ThemeSetup', 'revision_files'], '/js/independent/lazysizes.modern.js') %} #}
{# {% set lazysizes = fn(['ThemeSetup', 'revision_files'], '/js/independent/lazysizes.js') %} #}
<!DOCTYPE html>
<html lang="{{ fn('lb_get_current_lang') }}"{{ fn('is_admin_bar_showing') ? ' class="lb-is-admin-bar"' : '' }}>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Custom meta -->
        {% block meta %}{% endblock %}
        <!-- / Custom meta -->

        <!-- Google site verification -->
        <meta name="google-site-verification" content="AR863vQHpdXUZ9neZNpfZtYyLFpRm6crczQ1B5aHIOI" />

        <!-- WP Head -->
		{{ fn('wp_head') }}
        <!-- / WP Head -->

		{# <link rel="preload" as="style" href="{{ mainCss }}"> #}
		{# <link rel="preload" as="script" href="{{ mainJs }}"> #}

        <style>{{source('@bundle' ~ criticalCssProd)}}</style>
		{# {% if production %}
			<style>{{source('@bundle' ~ criticalCssProd)}}</style>
		{% else %}
			<link rel="stylesheet" href="{{ criticalCss }}">
		{% endif %} #}

		<link rel="stylesheet" href="{{ mainCss }}" media="all" defer>

        {% include 'various/tracking-head.twig' %}
        
        <!-- Custom Head -->
        {% block head %}{% endblock %}
        <!-- / Custom Head -->

        {% set page_loader = fn('get_field', 'lb_page_loader_status', 'option') ? ' is-loading' : '' %}
    </head>
    <body {{ fn('body_class', bodyClass ~ ' js-scrollbar js-gtm-tracking' ~ page_loader) }} data-ga-event-type="global">
        <!-- Header -->
        {% block header %}
            {% set header = fn('lb_header') %}
            {% include 'layout/header.twig' with {header: header} only %}
        {% endblock %}
        <!-- Main content -->
        <main id="content"{{ mainClass ? ' class="' ~ mainClass ~ '" ' : ' ' }}>
            {% block main %}{% endblock %}
        </main>
        <!-- Footer -->
        {% block footer %}
            {% set footer = fn('lb_footer') %}
            {% include 'layout/footer.twig' with {
                data: footer,
                prefooterConfig: prefooterConfig|default({show: false, line: false})
            } only %}
        {% endblock %}
        <!-- Offset Navs -->
        {% set custom_offset_navs = fn('lb_custom_offset_navs') %} 
        {% for offset_nav in custom_offset_navs %}
            {% if offset_nav %}
                {% include '@PathViews/components/offset-nav/default.twig' with offset_nav only %}
            {% endif %}    
        {% endfor %}
        {% block offsetNavs %}{% endblock %}

        {% if page_loader %}
            <!-- Loader -->
            <div class="js-loader lb-loader lb-loader--loading">
                <div class="lb-loader-spinner"></div>
            </div>
        {% endif %}

        {% include 'components/symbols.twig' %}

        <script type="module" src="{{ mainJs }}" data-cookieconsent="ignore" defer></script>

        {# <script type="text/javascript" data-cookieconsent="ignore">{{ source('@bundle' ~ criticalJs) }}</script> #}
        {# {% if production %}
            <script type="text/javascript" data-cookieconsent="ignore">{{ source('@bundle' ~ criticalJs) }}</script>
        {% else %}
            <script src="{{ criticalJsModern }}" data-cookieconsent="ignore"></script>
        {% endif %} #}

        {# <script data-modernsrc="{{ lazysizesModern }}" data-src="{{ lazysizes }}" data-cookieconsent="ignore" defer></script> #}

        {{ fn('wp_footer') }}

        {% include 'various/tracking-body.twig' %}
    </body>
</html>
