{% set criticalCss = fn(['ThemeSetup', 'revision_files'], 'css/critical.css') %}
{% set criticalCssProd = '/css/critical.css' %}
{% set mainCss = fn(['ThemeSetup', 'revision_files'], 'css/main.css') %}
{% set criticalJs = '/js/critical.js' %}
{% set criticalJsModern = fn(['ThemeSetup', 'revision_files'], 'js/critical.modern.js') %}
{% set mainJs = fn(['ThemeSetup', 'revision_files'], 'js/main.js') %}
{% set mainJsModern = fn(['ThemeSetup', 'revision_files'], 'js/main.modern.js') %}

{% set lazysizesModern = fn(['ThemeSetup', 'revision_files'], '/js/independent/lazysizes.modern.js') %}
{% set lazysizes = fn(['ThemeSetup', 'revision_files'], '/js/independent/lazysizes.js') %}

<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {# <title>{{ page.data.title }}</title> #}
    {# <meta name="description" content="{{ metaDescription }}"> #}

    {% block meta %}{% endblock %}

    {# <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{assets}}/favicon/57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{assets}}/favicon/14x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{assets}}/favicon/72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{assets}}/favicon/144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{assets}}/favicon/120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{assets}}/favicon/152x152.png" />
    <link rel="icon" type="image/png" href="{{assets}}/favicon/32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{assets}}/favicon/16x16.png" sizes="16x16" /> #}

    <!-- mobile meta (hooray!) -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ fn('wp_head') }}

    <link rel="preload" as="style" href="{{ mainCss }}">
    <link rel="preload" as="script" href="{{ mainJsModern }}">

    {% if production %}
      <style>{{source('@bundle' ~ criticalCssProd)}}</style>
    {% else %}
      <link rel="stylesheet" href="{{ criticalCss }}">
    {% endif %}

    <link rel="stylesheet" data-deferStart="true" data-href="{{ mainCss }}" media="none" onload="if(media!='all')media='all'">

    {% block head %}{% endblock %}
  </head>
  <body class="{{ bodyClass ? bodyClass|raw : '' }}">

    {% include 'components/symbols.twig' %}

    <main id="content">
      {% block main %}{% endblock %}
    </main>

    <script data-deferStart="true" data-modernsrc="{{ mainJsModern }}" data-src="{{ mainJs }}" defer></script>

    {% if production %}
      <script type="text/javascript">{{source('@bundle' ~ criticalJs)}}</script>
    {% else %}
      <script src="{{ criticalJsModern }}"></script>
    {% endif %}

    <script data-modernsrc="{{ lazysizesModern }}" data-src="{{ lazysizes }}" defer></script>

    {{ fn('wp_footer') }}
  </body>
</html>
