{% set criticalCss = fn(['ThemeSetup', 'revision_files'], 'css/critical.css') %}
{% set criticalCssProd = '/css/critical.css' %}
{% set mainCss = fn(['ThemeSetup', 'revision_files'], 'css/main.css') %}
{% set criticalJs = '/js/critical.js' %}
{% set criticalJsModern = fn(['ThemeSetup', 'revision_files'], 'js/critical.modern.js') %}
{% set mainJs = fn(['ThemeSetup', 'revision_files'], 'js/main.js') %}
{% set mainJsModern = fn(['ThemeSetup', 'revision_files'], 'js/main.modern.js') %}
{% set lazysizesModern = fn(['ThemeSetup', 'revision_files'], '/js/independent/lazysizes.modern.js') %}
{% set lazysizes = fn(['ThemeSetup', 'revision_files'], '/js/independent/lazysizes.js') %}
<!DOCTYPE html>
<html lang="{{ fn('lb_get_current_lang') }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Custom meta -->
        {% block meta %}{% endblock %}
        <!-- / Custom meta -->

		<!-- Mobile meta -->
		<meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, shrink-to-fit=no">
        <!-- / Mobile meta -->

        <!-- WP Head -->
		{{ fn('wp_head') }}
        <!-- / WP Head -->

		<link rel="preload" as="style" href="{{ mainCss }}">
		<link rel="preload" as="script" href="{{ mainJsModern }}" data-cookieconsent="ignore">

		{% if production %}
			<style>{{source('@bundle' ~ criticalCssProd)}}</style>
		{% else %}
			<link rel="stylesheet" href="{{ criticalCss }}">
		{% endif %}

		<link rel="stylesheet" data-deferstart="true" data-href="{{ mainCss }}" media="all">

        {% include 'various/tracking-head.twig' %}
        
        <!-- Custom Head -->
        {% block head %}{% endblock %}
        <!-- / Custom Head -->

        {% set page_loader = fn('get_field', 'lb_page_loader_status', 'option') ? ' is-loading' : false %}
    </head>
    <body {{ fn('body_class', bodyClass ~ page_loader) }}>

        <div class="js-scrollbar js-gtm-tracking" data-ga-event-type="global" data-scroll-container>
            <!-- Header -->
            {% block header %}
                {% set header = fn('lb_header') %}
                {% include 'layout/header.twig' with {header: header} only %}
            {% endblock %}
            <!-- Main content -->
            <main id="content"{{ mainClass ? ' class="' ~ mainClass ~ '" ' : ' ' }}data-scroll-section>
                {% block main %}{% endblock %}
            </main>
            <!-- Footer -->
            {% block footer %}
                {% set footer = fn('lb_footer') %}
                {% include 'layout/footer.twig' with {
                    data: footer,
                    prefooterConfig: prefooterConfig|default({show: false, line: false})
                } only %}
            {% endblock %}
            <!-- Offset Navs -->
            {% set newsletter_nav = fn('lb_newsletter_nav') %}
            {% include '@PathViews/components/offset-nav/default.twig' with newsletter_nav only %}
            {% block offsetNavs %}{% endblock %}

            {% if page_loader %}
                <!-- Loader -->
                <div class="js-loader lb-loader lb-loader--loading">
                    <div class="lb-loader-spinner"></div>
                </div>
            {% endif %}
        </div>

        {% include 'components/symbols.twig' %}

        <script data-deferstart="true" data-modernsrc="{{ mainJsModern }}" data-src="{{ mainJs }}" data-cookieconsent="ignore" defer></script>

        {% if production %}
            <script type="text/javascript" data-cookieconsent="ignore">{{ source('@bundle' ~ criticalJs) }}</script>
        {% else %}
            <script src="{{ criticalJsModern }}" data-cookieconsent="ignore"></script>
        {% endif %}

        <script data-modernsrc="{{ lazysizesModern }}" data-src="{{ lazysizes }}" data-cookieconsent="ignore" defer></script>

        {{ fn('wp_footer') }}

        {% include 'various/tracking-body.twig' %}
    </body>
</html>
