{% set mainCss = revisions['css/main.css'] ? revisions['css/main.css'] : 'css/main.css' %}

{% set mainJs = revisions['js/main.js'] ? revisions['js/main.js'] : 'js/main.js' %}
{% set mainJsModern = revisions['js/main.modern.js'] ? revisions['js/main.modern.js'] : 'js/main.modern.js' %}

{% set lazysizesModern = revisions['js/independent/lazysizes.modern.js'] ? revisions['js/independent/lazysizes.modern.js'] : 'js/independent/lazysizes.modern.js' %}
{% set lazysizes = revisions['js/independent/lazysizes.js'] ? revisions['js/independent/lazysizes.js'] : 'js/independent/lazysizes.js' %}

<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ metaDescription }}" />
    {% block meta %}{% endblock %}

    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

    <!-- mobile meta (hooray!) -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="preload" as="style" href="/{{ mainCss }}" />
    <link rel="preload" as="script" href="/{{ mainJsModern }}" />

    {% if production %}
        <style> {{ criticalCss|raw }} </style>
    {% else %}
        <link rel="stylesheet" href="/css/critical.css">
    {% endif %}

    <link rel="stylesheet" data-deferStart="true" data-href="/{{ mainCss }}" media="none" onload="if(media!='all')media='all'" />

    {% block head %}
    {% endblock %}

</head>
<body class="{{ bodyClass ? bodyClass|raw : '' }}">

    {% block main %}
    {% endblock %}

    <script
      data-deferStart="true"
      data-modernsrc="/{{ mainJsModern }}"
      data-src="/{{ mainJs }}" defer></script>
    {% if production %}
        <script type="text/javascript">{{criticalScript|raw}}</script>
    {% else %}
        <script src="/js/critical.modern.js"></script>
    {% endif %}
    <script
      data-modernsrc="/{{ lazysizesModern }}"
      data-src="/{{ lazysizes }}"
      defer
    ></script>
</body>
</html>
