<a href="{{ post.link }}" {{ fn('post_class', ['lb-product-card'] ) }}>

    {{ fn('timber_set_product', post) }}

    <div class="lb-product-card__content">
        {% if post.lb_is_available %}
            <div class="lb-product-card__status">
                {% include '@PathViews/components/button.twig' with {
                    title: post.lb_is_available.label,
                    iconStart: { name: 'cart' },
                    variants: ['tertiary', 'small'],
                } only %}
            </div>
        {% endif %}

        {% do action('woocommerce_before_shop_loop_item_title') %}

        {% if post.title %}
            <h3 class="lb-product-card__title">{{ post.title }}</h3>
        {% else %}
            <h3 class="lb-product-card__title">{{ fn('the_title') }}</h3>
        {% endif %}

        {% do action('woocommerce_after_shop_loop_item_title') %}
        {% do action('woocommerce_after_shop_loop_item') %}
    </div>
</a>
